.chat--detailContainer {
  background-color: #fff;
  flex: 0.3;
  height: 100%;
  overflow: auto;
  position: sticky;
  top: 0;
  left: 0;
  overflow: hidden;
  transition: all 0.3s ease;
}

.chat--detailContent {
  height: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.chat--detailHeader {
  height: 10.5vh;
  background-color: #fff;
  border-right: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
}

.chat--detailHeader > div:nth-child(2) > .MuiSvgIcon-root {
  color: #636263;
}
.chat--detailHeader > div:nth-child(2) {
  /* background-color: #290; */
  border-radius: 5px;
  cursor: pointer;
}
.chat--detailHeader > div {
  color: #1d1c1d;
}
.chat--detailHeader > div > h3 {
  font-size: 1rem;
  font-weight: 500;
}

.chat--detailHeader > div > p {
  font-size: 0.8rem;
  color: #1d1c1db3;
}

.chat--detailBody {
  height: 83.5vh;
  background-color: #fff;
  border-right: 1px solid #e1e1e1;
  /* flex: auto; */
  color: #1d1c1d;
  overflow: auto;
  overflow-x: hidden;
}

.chat--detailBody > div > .MuiSvgIcon-root {
  font-size: 2rem;
}
.chat--detailBody > div > h4 {
  font-size: 1rem;
  font-weight: 500;
}
.chat--detailBody > div {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e1e1e1;
  padding: 1em;
}

.chat--detailAbout {
  display: flex;
  align-items: flex-start !important;
  flex-direction: column;
}

.chat--detailAbout > div {
  background-color: #f6f6f6;
  width: 100%;
  margin-top: 0.2em;
  border-radius: 8px;
  padding: 0.5em 1em;
  cursor: auto;
}

.chat--detailAboutTopic > p:nth-child(1) {
  color: #1d1c1db3;
}
.chat--detailAboutTopic > p:last-child {
  color: #1264a3;
  cursor: pointer;
}
.chat--detailAboutDescription > p:nth-child(1) {
  color: #1d1c1db3;
}
.chat--detailAboutDescription > p:last-child {
  color: #1264a3;
  cursor: pointer;
}
.chat--detailAboutTopic > p,
.chat--detailAboutDescription > p {
  font-size: 0.8rem;
}
.chat--detailAboutTopic > p,
.chat--detailAboutDescription > p {
  font-size: 0.8rem;
}
.chat--detailAboutTopic > h3,
.chat--detailAboutDescription > h3 {
  font-size: 0.9rem;
  color: #1d1c1d;
  margin: 0.2em 0em;
  font-weight: 450;
}

.chat--detailAboutProfile > .pic {
  width: 1.5rem;
  border-radius: 5px;
  height: 1.5rem;
  margin-right: 0.4em;
  overflow: hidden;
  background-color: #928;
}

.chat--detailAboutProfile > p {
  font-size: 0.9rem;
}
.chat--detailAboutProfile {
  display: flex !important;
  flex-wrap: wrap;
  background-color: #987018;
  align-items: center;
}

.chat--detailMembers {
  display: block !important;
  padding: 0.5em 0em !important;
}

.chat--detailMembers > div:hover {
  background-color: #1264a3;
  color: #fff;
}
.chat--detailMembers > div {
  display: flex;
  transition: all 0.3s ease;
  align-items: center;
  color: #1d1c1d;
  padding: 0.3em 1em;
  cursor: pointer;
}

.chat--detailMembers > div > h3 {
  font-size: 1rem;
  font-weight: 500;
}

.chat--detailMembers > div > .MuiSvgIcon-root {
  font-size: 1rem;
  color: green;
  margin: 0.2em;
  margin-bottom: 0em;
}

.chat--detailMembers > div > p {
  font-size: 0.9rem;
}

.chat--detailMembers > div > div {
  width: 1.5rem;
  border-radius: 5px;
  height: 1.5rem;
  margin-right: 0.4em;
  overflow: hidden;
  background-color: #928;
}

.chat--detailMembers > button {
  margin: 1em;
  width: 90%;
  padding: 0.7em 1em;
  border: none;
  border-radius: 3px;
  border: 1px solid #b4b4b4;
  color: #1d1c1db3;
  font-weight: 600;
  background-color: #fff;
  font-size: 1rem;
  transition: all 0.3s ease;
  cursor: pointer;
}

.chat--detailMembers > button:hover {
  background-color: #f6f6f6;
}

.chat--detailPinned {
  /* background-color: #119; */
  display: block !important;
  cursor: auto !important;
  background-color: #fff;
  /* transition: all 0.3s ease; */
  animation: pinnedAnim 0.5s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
}

.chat--detailAbout {
  animation: pinnedAnim 0.5s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
}

.chat--detailMembers {
  animation: pinnedAnim 0.5s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
}

@keyframes pinnedAnim {
  0% {
    transform: translateY(-20%);
    opacity: 0;
  }
  50% {
    transform: translateY(10%);
    opacity: 0.5;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

.chat--detailPinnedHeader > div > h3:hover {
  text-decoration: underline;
  /* color: #297; */
}
.chat--detailPinnedmessage:hover {
  box-shadow: -1px -1px 3px rgba(0, 0, 0, 0.04), 1px 1px #eee;
}
.chat--detailPinnedmessage {
  margin-bottom: 1em;
  /* background-color: #299; */
  width: 100%;
  border-radius: 5px;
  transition: all 0.3s ease;
  padding: 0.5em 1em;
  color: #1d1c1d;
  border: 1px solid #e8e7e8;
}

.chat--detailPinnedHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chat--detailPinnedHeader > div > .pic {
  width: 1.5rem;
  border-radius: 5px;
  height: 1.5rem;
  margin-right: 0.4em;
  overflow: hidden;
  background-color: #928;
}

.chat--detailPinnedHeader > div {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.chat--detailPinnedHeader > div > h3 {
  font-size: 1rem;
  font-weight: 500;
}

.chat--detailPinnedHeader > .MuiSvgIcon-root {
  font-size: 1rem;
  color: gray;
  cursor: pointer;
}
.chat--detailPinnedmessage > p {
  margin: 0.8em 0em;
  font-size: 0.8rem;
}

.chat--detailPinnedFooter > div {
  display: flex;
  align-items: center;
  color: #1d1c1db3;
}
.chat--detailPinnedFooter > div:last-child > p {
  cursor: pointer;
}
.chat--detailPinnedFooter > div:last-child {
  margin-top: 0.5em;
}

.chat--detailPinnedFooter > div > .MuiSvgIcon-root {
  font-size: 1rem;
  margin-top: 0.3em;
}

.chat--detailPinnedFooter > div > p {
  font-size: 0.8rem;
}

.chat--detailPinnedFooter > div:last-child > p:hover {
  text-decoration: underline;
}

.chat--detailPinnedFooter > div:last-child > p:last-child {
  color: #1264a3;
  position: relative;
  margin-left: 1.5em;
  cursor: pointer;
}
.chat--detailPinnedFooter > div:last-child > p:last-child::before {
  /* color: #1264a3; */
  content: "";
  position: absolute;
  top: 0;
  left: -13%;
  width: 1%;
  height: 100%;
  background-color: #012;
}

/* 532753 */
