* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app--body {
  display: flex;
}

.app--pages--split {
  flex: 0.9;
  background-color: #fff;
  display: flex;
}

.close--chat--screen--reaction {
  background-color: #fff !important;
}
